{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5">
        <h1>{{ category.name }}</h1>
            <h3>Produits</h3>
                <p>Cette categorie contient {{category.products|length }} produit(s)</p>

        {# {{dump(category.products)}} #}
        <div class="row">
            {% for produit in category.products %}
                <div class="col-md-3 text-center">
                    <a href="{{ path('app_product',{slug : produit.slug}) }}" class="text-decoration-none">
                        <img src="/uploads/{{ produit.illustration }}" class="img-fluid">
                        <span class="d-block fw-bold black">{{ produit.name }}</span>
                    </a>
                    <span class="d-block mb-3">Prix {{ produit.priceWt }}</span>
                    {{dump(produit)}}
                </div>
            {% endfor %}
        </div>

    </div>    

{% endblock %}
