{% extends 'base.html.twig' %}

{% block body %}

<div class="container my-5">
    <h1>Hello pupsic</h1>
    ...
    {{ form(registerForm) }}

    {# {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
            <button type="submit">Register</button>
    {{ form_end(registerForm) }} ---> asa se face corect un formular, cu buton cu tot #}
    <br/>
    Vous avez deja un compte? <a href="{{ path('app_login')}}">Connectez-vous</a>

</div>

{% endblock %}